<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: #333;
    }

    .container {
        text-align: center;
        background-color: #fff;
        padding: 50px;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 100px;
        margin-bottom: 25px;
    }

    a {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        color: #fff;
        background-color: #007BFF;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.2s;
    }

    a:hover {
        background-color: #0056b3;
    }
</style>

<div class="container">
    <h1>404</h1>
    <p>Desculpe, a página que você está procurando não foi encontrada.</p>
    <a href="/">Voltar para a Página Inicial</a>
</div>
